.list-group{
    width: 100%;
    max-width: 1000px;
}
.nes-text{
    font-size: 2.0rem;
    font-weight: bold;
    font-family: 'Lobster', cursive;
}

.list-group-item{
    border: 1px solid  	#87CEEB;
    background-color: #FFF;
    border-radius: 5px;
    margin:10px;
}
.body{
    background: #FFF
}
.btn{
display: flex;
justify-content: center;
align-items: center;
font-size: 1.0rem;
font-family: 'Comfortaa', cursive;
}
.btn-primary:hover{
    background-color: #FFF!important;
    color: #00BFFF;
}

